<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:amq="http://activemq.apache.org/schema/core" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

	<!-- enable Spring @Component scan -->
	<context:component-scan base-package="com.test.camel_restlet" />

	<!-- Simple camel route which send every one minute a message on the console. -->
	<camel:camelContext>
		<camel:contextScan />
		<camel:jmxAgent id="agent" createConnector="true" />
	</camel:camelContext>

	<bean id="RestletComponent" class="org.restlet.Component" />

	<bean id="RestletComponentService" class="org.apache.camel.component.restlet.RestletComponent">
		<constructor-arg index="0">
			<ref bean="RestletComponent" />
		</constructor-arg>
	</bean>

	<import resource="activemq.xml" />
</beans>